{% extends 'base.html' %}

{% block title %}Developer{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header secondary-bg text-white">
                    <h5 class="mb-0">Developer</h5>
                </div>
                <div class="p-3">
                    <h2 style="font-weight: bold" id="-">無力</h2>
                    <br>
                    <p>嗨，我是sinkboy~。</p>
                    <p>我本來有感而發想寫很多。但算了。我來條列精華^_^。</p>
                    <ol>
                        <li>
                            <p>我喜歡這次的UI。雖然樸素，但跟鳥類很搭，而且舒服。</p>
                        <li>
                            <p>謝謝聽我奇怪計畫和給我回饋的人。不過我覺得還是唱歌垃圾桶比較有趣。</p>
                        </li>
                        <li>
                            <p>我在測試錄音的時候，一直在寢室發出奇怪的聲音。希望室友不要覺得我是怪人。</p>
                        </li>
                        <li>
                            <p>開始做這個project後，我對鳥叫聲超敏感的。在路上聽到鳥鳴，就開始思考：這樣夠大聲嗎？辨識的出來嗎？</p>
                        </li>
                        <li>
                            <p>如果辨識錯誤，不要怪我。有可能是那隻鳥走音了。畢竟我可是直接用github上有500stars的高級模型ㄟ。</p>
                        </li>
                        <li>
                            <p>我一直在跟自己爭論這個project到底有沒有意義?真的能像理想中一樣，越來越多人使用並開始關心環境嗎?又或者，我在乎環境嗎?我有真心想做這個東西嗎?</p>
                            <p>所以如果你對這個project有甚麼想法，請告訴我 ＿ |￣|○ 我非常想知道</p>
                            <p>不論好與壞，或者你找到有趣的漏洞 ฅ(๑*д*๑)ฅ!! (我的顏文字品味好遭) birdin.developer@gmail.com</p>
                        </li>
                    </ol>


                    <p>至於為什麼說&quot;無力&quot;呢?</p>
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <p>因為這是後記。後繼無力。</p>
                    <p>Sinkboy 2023/12/12</p>
                    <a href="https://github.com/sinkboy-chen" target="_blank" rel="noopener noreferrer">
                        <svg height="32" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1"
                            width="32" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                            </path>
                        </svg>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}